<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>______Target_Core</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_CoreObjc</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Extensions</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Foundation</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_SQLite_Bridging</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_Typed</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_test</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>______Target_testTests</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
